{{!< default}}
{{> header}}

<main class="main_mlp" role="main">


	{{#if author.image}}<img class="authorimage_mlp" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}}

	{{#foreach posts}}
		<article class="article_mlp" role="article" itemscope itemtype="http://schema.org/Article">
			<header class="postheader_mlp">				
				<h1 class="posttitle_mlp" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
			</header>

			<time class="date_mlp" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> | <div class="posttags_mlp">{{tags separator=" | "}}</div>
			<div class="postcontent_mlp" itemprop="articleBody">
				<p>{{excerpt words="100"}} ...</p>
			</div>
			<div class="readmore_mlp">
				<a class="read-more" href="{{url}}">Read More &raquo;</a>
			</div>
			{{#if tags}}

			{{/if}}
		</article>
	{{/foreach}}

	
	{{#if pagination}}
		<center>
			<div class="pagination_mlp">
				{{{pagination}}}
			</div>
		</center>
	{{/if}}
	
</main>

{{> footer}}