{{!< default}}
{{> header}}

<main class="main_mlp" role="main">
	{{#post}}
	<article class="article_mlp" role="article" itemscope itemtype="http://schema.org/Article">
		<header class="postheader_mlp">				
			<h1 class="posttitle_mlp" itemprop="headline"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h1>
		</header>

		<time class="date_mlp" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time> | <div class="posttags_mlp">{{tags separator=" "}}</div>
		<div class="postcontent_mlp" itemprop="articleBody">
			{{content}}
		</div>
		{{#if tags}}
		<div class="posttags_mlp">
			Tags: {{tags separator=" | "}}
		</div>
		{{/if}}
	    <div class="sharepost_mlp">
		    <h4 class="share_mlp">Share this post: &nbsp;</h4>
		    <a class="share_mlp icon-twitter" target="_blank" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"><span class="hidethis_mlp">Twitter</span></a>
		    <a class="share_mlp icon-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}"><span class="hidethis_mlp">Facebook</span></a>
		    <a class="share_mlp icon-gplus" target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}"><span class="hidethis_mlp">Google+</span></a>
	    </div>
	    {{#if author}}
		    <footer class="postfooter_mlp">
			    <address itemscope itemtype="http://schema.org/Person">
				    {{#if author.image}}
				    <div class="authorimage_mlp"><img src="{{author.image}}" itemprop="image" /></div>
				    {{/if}}
				    <h4 class="authorname_mlp"><span itemprop="author">{{author.name}}</span></h4>
				    {{#if author.website}}
				    <div class="authorwebsite_mlp"><a href="{{author.website}}" itemprop="url">{{author.website}}</a></div>
				    {{/if}}
			    </address>
			    <div class="authorbio_mlp">
			    	<p>{{author.bio}}</p>
			    </div>
		    </footer>
	        {{/if}}
	</article>
{{/post}}
{{#if pagination}}
	<div class="pagination_mlp">
	{{{pagination}}}
	</div>
{{/if}}
</main>

{{> footer}}